<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="breeze.emulate.position">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".APP"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.模拟位置">
        <activity android:name=".activity.RunningActivity" />
        <activity android:name=".activity.AddPositionActivity" />
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LocateService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activity.ImportCoordinateActivity" />
        <activity android:name=".activity.TruthPosition" />
        <activity android:name=".MainActivity" />

        <provider
            android:name=".database.AppContentProvider"
            android:authorities="breeze.emulate.position.provider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" /> <!-- 载入Hook模块之后显示的信息 -->
        <meta-data
            android:name="xposeddescription"
            android:value="虚拟定位模块" /> <!-- 规定jar包的版本信息 -->
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>